
.setting-icon{
    margin-left: 5px;
    .anticon-down{
        display: none
    }
.ant-space{
    // display: none;
    gap: 0px !important;
}
}

.ant-tabs-tab-btn{
    font-size: 25px !important;
}

.ant-space-item{
    
}